:root {
  --primary-pink: #ffafbd;
  --secondary-pink: #ffc3a0;
  --text-color: #333;
  --bg-color: #fffaf0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
